[smtp]
enabled = true
host = smtp.gmail.com:587
user = [gamil account]
password = [google app password]
from_address = "alert@grafana.demo.com"
from_name = "Grafana"
skip_verify = true

[unified_alerting.screenshots]
capture = true

[rendering]
server_url = http://renderer:8081/render
callback_url = http://grafana:3000/

[unified_alerting.state_history]
enabled = true
backend = "loki"
loki_remote_url = "http://loki:3100"
